{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Resources</title>
    {% tailwind_css %}
</head>
<body class="flex flex-col min-h-screen bg-[#F3F8FF]">
    <nav class="bg-white shadow-md">
        <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
          <h1 class="text-2xl font-bold text-indigo-600">MnitStudyHub</h1>
          <div class="space-x-6 flex items-center">
            <a href="{% url 'home' %}" class="text-gray-600 hover:text-indigo-600">Home</a>
            <a href="#" class="text-gray-600 hover:text-indigo-600">Your Notes</a>
            {% comment %} <a href="#" class="text-gray-600 hover:text-indigo-600">Sign Up</a>
            <a href="#" class="text-gray-600 hover:text-indigo-600">Login</a> {% endcomment %}
            {% if user.is_authenticated %}
          <form method="post" class="flex items-center text-[#49108B]"  action="{% url 'logout' %}">
            {% csrf_token %}
            <p>Hii {{ user.username }}</p>
            <button class="bg-red-500 text-white px-4 py-2 rounded mx-2" type="submit">Logout</button>
          </form>
          {% else %}
          <a href="{% url 'register' %}" class="bg-green-500 text-white px-4 py-2 rounded mx-2">Sign Up</a>
          <a href="{% url 'login' %}" class="bg-blue-500 text-white px-4 py-2 rounded mx-2">Login</a>
          {% endif %}
          </div>
        </div>
      </nav>

      <!-- Main content -->
      <main class="flex-grow text-[#49108B]">
        <div id="class">
          {% block content %}
          {% endblock %}
        </div>
      </main>

      <!-- Footer -->
  <footer class="bg-gray-800 text-white py-6 bottom-0">
    <div class="max-w-6xl mx-auto px-4 text-center">
      <p>&copy; 2025 MnitStudyHub. All rights reserved.</p>
    </div>
  </footer>

</body>
<script src="{% static 'js/01_script.js' %}"></script>
</html>
